body {
    margin: 0px;
}

#contenedor-perfil {
    display: flex;
    flex-direction: row;
}

.contenedor-info-perfil {
    width: 82%;
    margin-top: 120px;
    text-align: center;
    margin-left: 18%;
}

.perfil-superior {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 10%;
}

#contenedor-perfil div h1 {
    font-size: 30px;
}

.info-perfil {
    display: flex;
    margin-top: 5%;
    height: 50%;
}

.info-perfil #editar-perfil {
    width: 100%;
    text-align: left;
}

.info-perfil #editar-perfil div {
    font-size: 25px;
    padding: 10px;
}

.info-perfil #editar-perfil div label {
    display: inline-block;
    width: 250px;
}

.info-perfil #editar-perfil div input {
    display: inline-block;
    width: 250px;
    height: 25px;
}

#contenedor-perfil .botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
}

#contenedor-botones {
    text-align: center;
}

;
#contenedor-perfil .botones button,
a {
    background-color: white;
    margin-top: 20px;
    box-shadow: none;
    height: 40px;
    width: 200px;
    font-size: 20px;
}

#btn_mis_parqueos {
    width: 200px;
    height: 40px;
}