/*Body*/

h1 {
    font-size: 40px;
    margin: 120px 0 10px 0;
    padding: 10px;
}

#CI-registro-usuarios-p {
    width: 100%;
}

#CI-registro-usuarios-header {
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
    /* ARREGLAR ERROR */
    border: solid 0.1px transparent;
}

.CI-registro-usuarios-container {
    display: flex;
    /* border: solid 2px red; */
    margin: 0 20% 0 20%;
    text-align: left;
    Flex-direction: row;
    flex-wrap: wrap;
}

.CI-registro-column {
    flex: 1;
}

#CI-registro-form-box1 {
    height: 300px;
    /* border: solid 2px green; */
}

label {
    margin: 50px 10px 5px 10px;
}

legend {
    margin: 10px 10px 5px 10px;
}

#CI-registro-tipoID {
    margin: 10px 10px 10px 10px;
}

input[type="radio"] {
    margin: 4px 6px 11px 10px;
}

input {
    margin: 8px 10px 10px 10px;
}

#CI-registro-nombre {
    width: 400px;
    margin: 10px;
}

#CI-registro-contrasena {
    width: 400px;
    margin: 10px;
}

#CI-registro-fecha {
    width: 400px;
    margin: 10px;
}

#CI-registro-ID {
    width: 400px;
    margin: 10px 10px 10px 10px;
}

#CI-registro-correo {
    width: 400px;
}

#CI-registro-confirmarcontra-label {
    margin: 20px 10px 10px;
    /* border: solid 2px red; */
}

#CI-registro-confirmarcontra {
    width: 400px;
    margin: 10px 10px 2px 10px;
}

#CI-registro-form-box2 {
    height: 300px;
    /* border: solid 2px blue; */
}

#header-principal {
    height: 40px;
}

#btn {
    display: block;
    width: 300px;
}

#CI-registro-form-box3 {
    text-align: center;
    padding: 20px;
}

#btn-crearUsuario {
    margin-right: 5px;
    width: 140px;
}

#btn-yaTenesCuenta {
    margin-left: 5px;
    width: 140px;
}

.error {
    border: 2px solid red;
}