body {
    margin: 0px;
}

#contenedor-perfil {
    display: flex;
    flex-direction: row;
}

.contenedor-info-perfil {
    width: 82%;
    margin-top: 120px;
    text-align: center;
    margin-left: 18%;
}

.perfil-superior {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
}

#contenedor-perfil div h1 {
    font-size: 30px;
}

.info-perfil {
    display: flex;
    margin-top: 5%;
}

.info-perfil #editar-perfil {
    width: 100%;
    text-align: left;
}

.info-perfil #editar-perfil div {
    margin-left: 400px;
    font-size: 25px;
}

#contenedor-perfil .botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
}

#contenedor-perfil .botones button {
    background-color: white;
    margin-top: 20px;
    box-shadow: none;
    height: 50px;
    width: 180px;
    font-size: 20px;
}