/* D.B.

23 de julio de 2020

Cliente - Formulario para agregar metodos de pago a la aplicacion */

#sct-contenedor-principal {
    padding-left: 18%;
    padding-top: 100px;
    width: 100%;
}

#sct-contenedor-principal #titulo-principal {
    padding: 50px;
    text-align: center;
}


/* ------------------- Formtatos de la tabla de formulario ------------------ */

#formulario_agregar_tarjetas {
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
}

#formulario_agregar_tarjetas .item_form_tarjetas {
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
}

#formulario_agregar_tarjetas label {
    display: flex;
    align-items: center;
    font-size: 20px
}

#formulario_agregar_tarjetas input {
    width: 60%;
    padding: 5px;
}

#formulario_agregar_tarjetas .select_form_tarjetas {
    width: 60%;
}

#formulario_agregar_tarjetas select {
    width: 30%;
    padding: 10px;
    margin-right: 20px;
}

#formulario_agregar_tarjetas #button_form_tarjetas {
    display: flex;
    justify-content: space-evenly;
}

#formulario_agregar_tarjetas button {
    width: 25%;
    margin-top: 50px;
    padding: 10px;
    font-size: 15px;
}


/* ---------------------------------- error --------------------------------- */

.error {
    border: 2px solid red;
}