/*
PROPUESTA DE COLORES:
Amarillo: #F7E40C
Amarillo naranja: #D49B0B
Naranja: #EB7100
Rojo: #D62900
Rosa: #E1566F
Verde:#E1566F

#9ad427

Naranja claro: #e99f2f
Gris: #505050

Color texto blanco: #ffffff
Color de texto: #262626
Color texto claro: #767676
*/


/*
Para incluir la fuente:
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
*/

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 32px;
    line-height: 40px;
}

h2 {
    font-size: 24px;
    line-height: 30px;
}

h3 {
    font-size: 20px;
    line-height: 26px;
}

p {
    font-size: 16px;
    line-height: 24px;
}

a {
    font-size: 16px;
    line-height: 24px;
}

select {
    font-family: 'Montserrat', sans-serif;
}

input {
    font-family: 'Montserrat', sans-serif;
}

button {
    font-size: 16px;
    border: none;
    background-color: #E1566F;
    color: #ffffff;
    border-radius: 4%;
    height: 50px;
    transition-duration: 0.1s;
}

button:hover {
    color: white;
    background-color: #dd2849;
    cursor: pointer;
}

button:focus {
    outline-style: none;
}

.oculto {
    display: none;
}


/*PARA VERIFICAR INPUTS*/

.error {
    border: 2px rgb(224, 47, 47) solid;
}

* {
    box-sizing: border-box;
}


/*Este estilo general es para las tablas que cambian de color cada fila*/

.estilo-header {
    background-color: #a4b0be;
}


/*
.estilo-tabla tr:nth-child(even) {
    background-color: #dfe4ea;
}

.estilo-tabla tr:nth-child(odd) {
    background-color: #f1f2f6;
}*/


/*BOTON DE ACTIVACION DE USUARIOS*/

.estilo-btn-activar {
    margin: 5px;
}


/*HOVER*/

.selection:hover {
    background-color: #70a1ff;
}