#sct-contenedor-principal {
    padding-left: 18%;
    padding-top: 100px;
    width: 100%;
}

.sct-contenido-buscar-parqueos {
    width: 82%;
    padding: 2%;
}

#sct-contenedor-carta-parqueos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.parqueo-abierto {
    color: rgb(58, 228, 134);
}

.parqueo-cerrado {
    color: rgb(212, 54, 54);
}