h1 {
    font-size: 32px;
    line-height: 40px;
}

h2 {
    font-size: 24px;
    line-height: 30px;
}

h3 {
    font-size: 20px;
    line-height: 26px;
}

p {
    font-size: 16px;
    line-height: 24px;
}

a {
    font-size: 16px;
    line-height: 24px;
}

.oculto {
    display: none;
}

* {
    box-sizing: border-box;
}


/*Este estilo general es para las tablas que cambian de color cada fila*/

.estilo-header {
    background-color: #a4b0be;
}


/*
.estilo-tabla tr:nth-child(even) {
    background-color: #dfe4ea;
}

.estilo-tabla tr:nth-child(odd) {
    background-color: #f1f2f6;
}*/


/*BOTON DE ACTIVACION DE USUARIOS*/

.estilo-btn-activar {
    margin: 5px;
}


/*HOVER*/

.selection:hover {
    background-color: #70a1ff;
}