body a {
    text-decoration: none;
    color: black;
}


/*MENUN PRINCIPAL SUPERIOR*/

.nav-principal {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.nav-principal #link-marca {
    font-size: 28px;
    padding: 0px 3% 0px 2%;
}

.nav-principal .nav-derecha {
    font-size: 20px;
    margin-right: 3%;
}

.nav-principal .nav-derecha #link-registrarse,
#link-iniciar-sesion,
#link-cerrar-sesión {
    text-decoration: none;
    padding: 15px;
}


/*MENU LATERAL*/

.menu-lateral {
    margin-top: 100px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    border-right: 1px solid black;
    border-top: 1px solid black;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu-lateral a {
    font-size: 24px;
    height: 10%;
    text-decoration: none;
    margin-bottom: 5%;
}

.menu-lateral #primer-link {
    margin-top: 45%;
}