#contenedor-perfil {
    display: flex;
    flex-direction: row;
}

.contenedor-info-perfil {
    width: 82%;
    margin-top: 120px;
    margin-left: 18%;
    text-align: center;
}

.perfil-superior {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
}

#contenedor-perfil div h1 {
    font-size: 30px;
    margin-bottom: 3.5%;
}

#contenedor-perfil .foto-perfil {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    border: 1px solid black;
}

.info-perfil {
    display: flex;
    margin-top: 5%;
}


/*Espacios entre texto*/

.perfil-izquierda {
    width: 60%;
    margin-left: 15%;
}

.perfil-derecha {
    width: 40%;
    margin-right: 25%;
}

.perfil-izquierda h3 {
    margin-bottom: 2%;
}

.perfil-izquierda p {
    margin-bottom: 5%;
}

.perfil-derecha div p {
    margin-top: 2%;
    margin-bottom: 5%;
}


/*-------*/


/*
.info-perfil .perfil-izquierda {
    width: 60%;
}

.info-perfil .perfil-derecha {
    width: 55%;
}*/

#contenedor-perfil .botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

#contenedor-perfil .botones a {
    border: 1px solid black;
    font-size: 20px;
    padding: 7px 2.5%;
}

#contenedor-perfil .botones button {
    height: 50px;
    width: 170px;
    margin-top: 15px;
}