.contenedor-cuadro {
    width: 350px;
    height: 200px;
    border: 1px solid black;
}

.estilo-cuadro {
    border-collapse: collapse;
    margin-bottom: 3%;
    margin-right: 15px;
    padding: 10px;
}

.estilo-cuadro p {
    font-size: 16px;
    margin-bottom: 12px;
}

.estilo-cuadro a {
    font-size: 16px;
    text-decoration: underline #70a1ff;
    color: #70a1ff;
}