.verificacion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-principal {
    /* border: solid 2px black; */
    height: 40px;
}

h1 {
    font-size: 40px;
    margin: 140px 0 20px 0
}

#verificacion-p {
    width: 420px;
    /* border: solid 2px yellow; */
    margin-left: 37px;
}

.verificacion-box1 {
    /* border: solid 2px red; */
    text-align: center;
    margin-bottom: 200px;
    width: 500px;
}

.verificacion-box2 label {
    margin-bottom: 10px;
}

#btn-verificacion {
    display: block;
    margin: auto;
    width: 200px;
    height: 40px;
}

label {
    display: block;
    /* border: solid 2px purple; */
    text-align: left;
}

input {
    width: 431px;
    display: block;
    /* border: solid 2px black; */
    margin: 2px 0 20px 0;
}