#pagina_principal_reporte_ingresos {
    padding-left: 18%;
    padding-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pagina_principal_reporte_ingresos h1 {
    margin: 40px;
}

table {
    border-collapse: collapse;
    width: 1000px;
}

#tabla_reporte_ingresos td {
    width: 10%;
    padding: 10px;
    text-align: center;
}

#tabla_reporte_ingresos thead {
    background-color: #a4b0be;
    padding: 20px, 0;
    border-bottom: 2px solid black;
}

#tabla_reporte_ingresos tbody tr:nth-child(even) {
    background-color: #f1f2f6;
}

#tabla_reporte_ingresos tbody tr:nth-child(odd) {
    background-color: #ced6e0;
}

#pagina_principal_reporte_ingresos button {
    margin-top: 50px;
}

#tabla_reporte_ingresos thead td {
    padding: 20px 0;
}