#pagina_principal_bitacora {
    padding-left: 18%;
    padding-top: 100px;
    text-align: center;
}

#pagina_principal_bitacora {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pagina_principal_bitacora h1 {
    margin: 40px;
}


/* 


/* ------------ ESTILOS DE LAS TABLAS - REPORTES ------------ 

table {
    border-collapse: collapse;
    width: 1000px;
}

td {
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #f7835f;
    padding: 20px, 0;
    border-bottom: 2px solid black;
}

thead td {
    padding: 20px 0;
}

tbody tr:nth-child(odd) {
    background-color: #ffe694;
}

tbody tr:nth-child(even) {
    background-color: #fffabb;
} */

#principal_hist_reservas button {
    margin-top: 50px;
}

#pagina_principal_bitacora button {
    margin-top: 50px;
}