.contenedor {
    display: flex;
    flex-direction: row;
}

.info-reservas {
    margin-left: 18%;
    margin-top: 120px;
    width: 82%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-reservas h2 {
    margin-bottom: 5%;
}

.info-reservas #btn-descargar {
    padding: 10px;
    width: 150px;
    font-size: 14px;
}


/*TABLA*/


/*SI SE LE DA CLICK AL BOTÓN DE DESCARGAR*/

@media print {
    .info-reservas {
        margin-right: 100px;
    }
    .tabla-info #tabla-reservas {
        display: block;
        width: 900px;
        margin-right: 100px;
    }
    #btn-descargar {
        display: none;
    }
    .nav-principal {
        display: none;
    }
    .menu-lateral {
        display: none;
    }
}