.contenedor {
    display: flex;
    flex-direction: row;
}

.info-registros {
    width: 82%;
    margin-left: 18%;
    margin-top: 130px;
    /*padding-left: 6%;*/
}

.tabla-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#solicitud-seleccionada {
    margin-bottom: 10%;
}

.info-izquierda {
    width: 45%;
    padding-left: 30px;
}

.info-izquierda div {
    margin-bottom: 7%;
}

.info-izquierda h2 {
    font-weight: bold;
}

.info-izquierda h3 {
    font-weight: 700;
}

#contenedor-mapa {
    width: 55%;
    padding-top: 6%;
    padding-right: 4%;
}


/*BOTONES DE ACEPTACION*/

.botones-control button {
    margin-top: 10%;
    padding: 10px;
    width: 150px;
    font-size: 14px;
}