.parqueo-abierto {
    background-color: #81ef07c7;
}

.parqueo-cerrado {
    background-color: #f54757c7;
}

.carta-parqueo {
    /*Contenedor principal de la carta.*/
    display: flex;
    flex-direction: column;
    width: 340px;
    margin-left: 1%;
    margin-top: 2%;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.carta-parqueo:hover {
    cursor: pointer;
}

.carta-parqueo .contenedor-superior {
    /*En este contenedor es donde se va a mostrar como fondo una imagen del parqueo*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 180px;
}

.carta-parqueo .contenedor-superior .contenedor-calificacion-parqueo {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
}

.carta-parqueo .contenedor-superior .contenedor-calificacion-parqueo i {
    padding-top: 10%;
}

.carta-parqueo .contendor-info-parqueo {
    /*Este contenedor funciona para hacer un contraste entre la foto del parqueo y el texto que muestra el estado y calificación del parqueo*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5px;
    overflow: hidden;
}

.carta-parqueo .contendor-info-parqueo p {
    color: #ffffff;
}


/*
#carta-parqueo .contenedor-estado-parqueo {}
#carta-parqueo .contenedor-calificacion-parqueo {}
*/

.carta-parqueo .contenedor-inferior {
    /*Este contenedor es el que funciona para mostrar nombre y dirección del parqueo*/
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.carta-parqueo h3 {
    font-size: 22px;
    flex-flow: 2;
    padding: 0 2%;
}

.carta-parqueo p {
    flex-flow: 1;
    padding: 0 2%;
}