.espacio-parqueo {
    width: 80px;
    height: 125px;
    /*border: 1px #000000 solid;*/
    background-color: #ededed;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
}

.espacio-parqueo:hover {
    cursor: pointer;
}

.espacio-parqueo h3 {
    margin-top: 2%;
    height: 18%;
}

.ocupado {
    color: #000000;
    /*background-color: #ff4747;*/
    border: 4px #ff4747 solid;
}

.txt_alerta {
    color: #D62900;
}

.seleccionado {
    border: 2px #ADFF00 solid;
}

.icono-espacio {
    flex-flow: 2;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    width: 76px;
    height: 80%;
    margin: 0 auto;
}

.icono-espacio-carro {
    background-image: url("../imgs/reserva_parqueos/icono_carro.png");
}

.icono-espacio-carro-claro {
    background-image: url("../imgs/reserva_parqueos/icono_carro_claro.png");
}

.icono-espacio-moto {
    background-image: url("../imgs/reserva_parqueos/Icono_moto.png");
}

.icono-espacio-moto-claro {
    background-image: url("../imgs/reserva_parqueos/Icono_moto_claro.png");
}

.icono-espacio-discapacidad {
    background-image: url("../imgs/reserva_parqueos/icono_discapacidad.png");
}

.icono-espacio-discapacidad-claro {
    background-image: url("../imgs/reserva_parqueos/icono_discapacidad_claro.png");
}