.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.peticion-info {
    padding-top: 160px;
}

.peticion-info h2 {
    margin-bottom: 50px;
}

.peticion-form input {
    margin-bottom: 5%;
    width: 500px;
    height: 40px;
}

.peticion-form button {
    width: 40%;
    height: 50px;
    margin-left: 59%;
    margin-bottom: 20%;
}


/*PARRAFO CON INFO*/

.peticion-parrafo {
    margin-top: 10%;
    margin-top: 5%;
}