#sct-contenedor-principal {
    padding-left: 18%;
    padding-top: 100px;
    width: 100%;
}


/*Estilos del contenido del perfil*/

#sct-info-perfil {
    margin-top: 2%;
    margin-bottom: 1%;
    padding: 0 1%;
    display: flex;
    flex-direction: row;
}

#sct-info-perfil #contenedor-duenno-parqueo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30%;
}

#sct-info-perfil #NOMBRE_DUENNO_PARQUEO,
#sct-info-perfil #EMAIL_DUENNO {
    font-size: 20px;
}

#sct-info-perfil #contenedor-nombre-parqueo {
    width: 40%;
}

#sct-info-perfil #contenedor-nombre-parqueo #NOMBRE_PARQUEO {
    text-align: center;
}

#sct-info-perfil #contenedor-calificacion {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    width: 30%;
}

#sct-info-perfil #redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 1%;
}

#sct-info-perfil #contenedor-calificacion p {
    text-align: right;
}

#sct-info-perfil #redes-sociales a {
    font-size: 32px;
    color: #e99f2f;
    margin-left: 2%;
}

#sct-info-perfil #redes-sociales a:hover {
    text-decoration: none;
    color: #c8e232;
}


/*Estilos del banner*/

#sct-banner {
    background-color: #cecece;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 500px;
}

#sct-banner #btn-google-maps {
    align-self: flex-end;
}


/*Estilos seccion de reserva*/

#sct-realizar-reserva {
    padding: 1% 0;
}

#sct-realizar-reserva h2 {
    text-align: center;
    margin-bottom: 2%;
}

#sct-realizar-reserva #HORARIO {
    margin-left: 1%;
    font-size: 20px;
    margin-bottom: 1%;
}

#contenedor-datos-reserva {
    display: flex;
    padding: 0 1%;
}

#contenedor-datos-reserva #btn-reservar-espacio {
    background-color: #ade426;
}

#contenedor-mapa {
    width: 60%;
}

#contenedor-info-reserva {
    width: 40%;
    padding: 0 1%;
}

#contenedor-info-reserva label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

#contenedor-info-reserva input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    padding-left: 8px;
}


/*Estilos para sección de comentarios*/

#sct-comentarios {
    padding: 1%;
    display: flex;
    flex-direction: column;
}

#sct-comentarios button {
    background-color: #ade426;
    width: 160px;
    margin-left: 2.5%;
}

#sct-comentarios #contenedor-superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sct-comentarios #contenedor-superior h2 {
    flex-flow: 1;
}

#sct-comentarios #contenedor-superior #contenedor-botones-comentario {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-flow: 1;
}

#sct-comentarios #contenedor-comentarios {
    padding: 0;
}

* {
    box-sizing: border-box;
}