#principal_hist_reservas {
    padding-left: 18%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#principal_hist_reservas h1 {
    margin: 40px;
}

#btn_descargar {
    margin-top: 50px;
}

.recibo {
    background: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.recibo:hover {
    background: none;
    color: black;
    text-decoration-line: underline;
}

@media print {
    #principal_hist_reservas {
        margin-right: 100px;
    }
    #tablahistorial {
        width: 750px;
        margin-right: 35px;
    }
    #btn_descargar {
        display: none;
    }
    .nav-principal {
        display: none;
    }
    .menu-lateral {
        display: none;
    }
    .link_ver_recibo {
        display: none;
    }
}