#header {
    /* border: solid 2px red; */
    height: 180px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.col-container {
    display: flex;
    text-align: left;
    Flex-direction: row;
    flex-wrap: wrap;
    /* border: solid 2px red; */
    margin: 0 5% 0 5%;
}

.col-container label {
    margin-bottom: 5%;
}

.col {
    flex: 1;
}

#col1 {
    /* border: solid 2px blue; */
    margin-right: 40px;
}

#col2 {
    /* border: solid 2px orange; */
    margin-left: 40px;
    margin-right: 40px;
}

#col3 {
    /* border: solid 2px red; */
    margin-left: 40px;
}

input {
    margin: 4px 10px 10px 0;
    width: 100%;
    height: 40px;
}

label {
    margin-bottom: 20px;
    /* border: solid 2px blue; */
}

legend {
    margin: 10px 10px 10px 0;
}

h2 {
    margin: 10px 10px 10px 0;
}

#myFile {
    margin: 4px 0 10px 0;
}

#pisosDropdown {
    width: 300px;
    margin: 4px 10px 10px 0;
}

input[type="file"] {
    display: none;
    width: 100%;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

#file_upload {
    width: 100%;
    height: 40px;
    background-color: white;
    border: solid 1px gray;
    float: left;
    border-radius: 4px;
    margin-bottom: 30px;
}

#file_upload:hover {
    color: white;
    background-color: #dd2849;
    cursor: pointer;
    border: none;
}

#labelMyFileContainer {
    /* border: solid 2px blue; */
    display: flex;
    margin: 4px 0 10px 0;
}

#btnMyFile {
    background-color: white;
    border: solid 1px gray;
    height: 40px;
    padding: 10px 40px;
    float: left;
    border-radius: 4px;
    margin-left: 0;
}

#btnMyFile:hover {
    color: white;
    background-color: #dd2849;
    cursor: pointer;
    border: none;
}

#label_si {
    margin: 0 0 0 0;
}

#label_no {
    margin: 0 0 0 0;
}

#si {
    height: 20px;
    width: 20px;
    margin-bottom: 10px;
}

#no {
    height: 20px;
    width: 20px;
}

.adjuntarClaseBoton {
    /* border: solid 2px blue; */
    margin: 0 0 0 0;
}

#no {
    margin-bottom: 20px;
}

#permisoFuncionamientoLabel {
    /* border: solid 2px brown; */
    width: 100%;
}

#pisosDropdown {
    margin: 4px 10px 10px 0;
    width: 100%;
    height: 40px;
}

#rowBotones {
    /* border: solid 2px purple; */
    text-align: center;
    margin-top: 20px;
    float: left;
    width: 100%;
    margin: 16px 0 10px 0;
}

#btn-crearParqueo {
    margin-right: 20px;
    width: 200px;
    height: 40px;
}

#btn-cancelar {
    width: 200px;
    height: 40px;
}

h3 {
    margin: 6px 10px 4px 0;
}

.error {
    border: solid 2px red;
}


/* Estilos de https://programando.paginasweb.cr/ */

.canton,
.distrito,
.send {
    display: none;
}

.form-desc,
.data-container,
.map-container {
    display: inline;
    float: left;
    min-width: 110px;
    margin-right: 10px;
    margin-top: 6px;
}

.data-container {
    justify-content: center;
    margin-left: 0;
    /* border: solid 2px red; */
    display: block;
    width: 100%;
}

.form-val {
    float: left;
    width: 100%;
}

.form-val select {
    width: 100%;
    /* border: solid 2px red; */
    margin-top: 6px;
}

#provincias {
    width: 100%;
    height: 40px;
}

#cantones {
    width: 100%;
    height: 40px;
}

#distritos {
    width: 100%;
    height: 40px;
}

#coordenadas {
    width: 100%;
    /* border: solid 2px yellow; */
    margin-left: 0;
}

.map-container {
    width: 100%;
    /* border: solid 2px blue; */
    margin: 2% 0 0 0;
}

#map {
    min-width: 300px;
    width: 100%;
    height: 200px;
}