.contenedor {
    display: flex;
    flex-direction: row;
}

.info-convenios h2 {
    margin-bottom: 50px;
    margin-left: 16px;
}

#sct-contenedor-principal {
    padding-left: 18%;
    padding-top: 100px;
    width: 100%;
}

.info-parqueos {
    width: 82%;
    padding: 2%;
}

#cuadros-parqueos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*Tablas*/


/*
.info-convenios table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 10%;
    visibility: hidden;
}

.info-convenios td {
    padding: 10px;
}

.columna2-tablas,
.columna3-tablas {
    margin-top: 80px;
}*/