.contenedor {
    display: flex;
    flex-direction: row;
}

.contenedor-lista-usuarios {
    margin-top: 100px;
    width: 82%;
    margin-left: 18%;
    height: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-lista-usuarios h2 {
    margin: 40px 0px 6% 3.6%;
    display: inline-block;
}

#tbl-usuarios {
    margin-left: 3%;
    border-collapse: collapse;
    width: 700px;
}

table td input {
    padding: 10px;
}

.estilo-btn-activar {
    margin: 5px;
}