/*.contenedor-cuadro {
    width: 350px;
    height: 200px;
    border: 1px solid black;
}*/

.estilo-cuadro,
#agregar-parqueo {
    border-collapse: collapse;
    margin-bottom: 3%;
    margin-left: 15px;
    padding-left: 15px;
    border: 1px solid black;
    width: 350px;
    height: 200px;
}

#agregar-parqueo {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#agregar-parqueo a {
    font-size: 80px;
    text-decoration: none;
    font-weight: bold;
    margin: auto 0;
    margin-top: 70px;
}

#agregar-parqueo p {
    margin-bottom: 60px;
    font-size: 25px;
}

.estilo-cuadro p {
    font-size: 16px;
    margin-bottom: 12px;
}

.estilo-cuadro a {
    font-size: 16px;
    text-decoration: underline #70a1ff;
    color: #70a1ff;
}