.contenedor {
    display: flex;
    flex-direction: row;
}

.contenedor-lista-usuarios {
    margin-top: 30px;
    width: 82%;
    margin-left: 18%;
    height: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*-----------FORM AÑADIR EMPLEADOS-----------*/

#form-añadir-empleados {
    display: flex;
    flex-direction: column;
}

#form-añadir-empleados label {
    margin-bottom: 2%;
}

#form-añadir-empleados input {
    margin-bottom: 20%;
    width: 100%;
    height: 30px;
}

#form-añadir-empleados button {
    width: 20%;
    margin-top: -15%;
    align-self: center;
    margin-bottom: 25%;
}


/*--------------FIN FORM---------------*/

#busquedaForm {
    margin-bottom: 4%;
}

.contenedor-lista-usuarios h2 {
    margin: 40px 0px 6% 3.6%;
    display: inline-block;
}

#tbl-usuarios {
    margin-left: 3%;
    border-collapse: collapse;
    width: 700px;
}

.estilo-btn-activar {
    min-width: 120px;
    margin-left: 28%;
}

.filtrar-empleados {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-right: 150px;
}

.filtrar-empleados label,
.filtrar-empleados input {
    margin-right: 20px;
    font-size: 25px;
}

.filtrar-empleados input {
    height: 30px;
}